.container {
  display: grid;
  grid-template-rows: max-content auto;
  grid-template-columns: 100%;
  padding-block-start: 0;
}

/* Product info container */
.productInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  padding: 1.5em 1em;
}

/* Product header */
.productHeader p {
  margin-block: 0 0.5em;
  font-weight: 700;
  font-size: 0.75em;
  text-transform: uppercase;
  color: hsl(var(--orange));
}

.productHeader h1 {
  margin-block: 0.5em 0;
  font-size: 2em;
}

/* Descriptin styling */
.description {
  font-size: 0.9em;
  line-height: 1.75;
  color: hsl(var(--dark-grayish-blue));
}

/* Price styling */
.price,
.discountPrice > :first-child {
  font-weight: 700;
  font-size: 1.15em;
  margin: 0;
}

.priceContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.discountPrice {
  display: flex;
  align-items: flex-end;
  gap: 0.5em;
}

.discountPrice > :first-child {
  font-weight: 700;
  font-size: 1.5em;
  margin: 0;
}

/* Original price*/
.discountPrice ~ .price {
  font-size: 0.75em;
  color: hsl(var(--grayish-blue));
}

/* Increment/Decrement Component + Add Cart */
.action {
  user-select: none;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.btn {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  font-weight: 700;
  font-size: clamp(0.8em, 1vw, 0.9em);
  border-radius: 0.5em;
}

.svg {
  flex-shrink: 0;
  transform: scale(0.75);
}

@media (min-width: 568px) {
  .container {
    grid-template-rows: initial;
    grid-template-columns: calc((100% - 4em) / 2);
    align-items: center;
    gap: 2em;
    padding: 2em;
  }

  /* Gallery component */
  .container > :first-child {
    grid-area: 1 / 1 / 2 / 2;
  }

  .productInfo {
    grid-area: 1 / 2 / 2 / 3;
  }

  .productHeader h1 {
    font-size: 2.5em;
  }

  .priceContainer {
    flex-direction: column;
    align-items: flex-start;
  }

  .action {
    flex-direction: row;
    align-items: stretch;
  }
}
