.container {
  --y-padding: 0.5em;

  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  gap: 1em;

  padding: var(--y-padding) 1em;
  background-color: hsl(var(--white));
  border-bottom: 0.01em solid hsl(var(--grayish-blue));
  z-index: 100;
}

/* Menu Control */
.menuControl {
  flex-shrink: 0;
  width: 2em;
  aspect-ratio: 1;
  display: block;
  z-index: 99999;
  background-color: transparent;
  background-image: url("/public/assets/icon-menu.svg");
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  transition: background-image 350ms;
}

.menuControl:hover {
  cursor: pointer;
}

.menuControl[data-expanded="true"] {
  background-image: url("/public/assets/icon-close.svg");
}

/* Navigation Links Styles */
.navLinks {
  z-index: 99998;
  display: flex;
  flex-direction: column;
  gap: 1.5em;

  list-style: none;
  padding: 0;
  margin: 0;
  background-color: hsl(var(--white));
}

@media (max-width: 568px) {
  .navLinks {
    z-index: 99998;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: max(15em, 60vw);
    display: flex;
    flex-direction: column;
    gap: 1.5em;

    list-style: none;
    font-size: 1.15em;
    padding: 5em 2em;
    margin: 0;
    background-color: hsl(var(--white));
    transform: translateX(-100%);
    transition: transform 350ms;
  }

  .navLinks[data-expanded="true"] {
    transform: translateX(0);
  }
}

.navLinks a {
  position: relative;
  font-weight: 700;
  color: hsl(var(--black));
}

.navLinks a:hover {
  cursor: pointer;
  color: hsl(var(--black));
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  flex: 1;
  width: 100vw;
  background-color: hsl(var(--black) / 75%);
  z-index: 1000;
  opacity: 0;
  transition: opacity 350ms;
  pointer-events: none;
}

.backdrop[data-expanded="true"] {
  opacity: 1;
  pointer-events: all;
}

/* Logo Styles */
.logo {
  min-width: 0;
  width: fit-content;
}

/* Right Actions */
.rightActions {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* Avatar Styles */
.avatar {
  height: 2.5em;
  border: 0.15em solid transparent;
  border-radius: 50%;
  transition: border-color 300ms;
}

.avatar:hover {
  cursor: pointer;
  border-color: hsl(var(--orange));
}

@media (min-width: 568px) {
  .container {
    --y-padding: 2em;
  }

  .menuControl,
  .backdrop {
    display: none;
  }

  .logo {
    width: 104px;
  }

  .navLinks {
    position: initial;
    height: initial;
    flex-direction: row;
    gap: clamp(0.9em, 1vw, 1em);
    padding: 0;
    font-size: 1em;
  }

  .navLinks a {
    font-weight: 400;
    color: hsl(var(--dark-grayish-blue));
  }

  .navLinks a:after {
    content: "";
    width: 100%;
    height: 0.175em;
    position: absolute;
    left: 0;
    bottom: calc(-1 * var(--y-padding) - 50% + 0.185em);
    background-color: transparent;
  }

  .navLinks a:hover:after {
    background-color: hsl(var(--orange));
  }

  .avatar {
    height: 2em;
  }
}

@media (min-width: 768px) {
  .container {
    gap: 2em;
    padding-inline: 1.5em;
  }

  .logo {
    width: initial;
  }

  .avatar {
    height: 2.5em;
  }

  .navLinks {
    font-size: 1.15em;
  }

  .navLinks a:after {
    height: 0.165em;
    bottom: calc(-1 * var(--y-padding) - 50% + 0.3em);
  }
}

@media (min-width: 968px) {
  .avatar {
    height: 3.25em;
  }

  .navLinks {
    gap: 2em;
  }

  .navLinks a:after {
    height: 0.175em;
    bottom: calc(-1 * var(--y-padding) - 50%);
  }
}
